<%= render layout: "layouts/autocomplete_results", locals: {
  query: params[:query],
  js_controller: "multi-autocomplete",
  frame_id: params[:frame_id]
} do %>

  <% if @locations.any? %>
    <% @locations.each do |location| %>
      <li>
        <a class="cursor-pointer active:bg-base-300 active:text-base-content focus:bg-base-200"
           data-action="click->multi-autocomplete#select"
           data-id="<%= location.id %>"
           data-name="<%= location.name %>">
          <%= location.name %>
        </a>
      </li>
    <% end %>
  <% else %>
    <li>
      <span class="text-base-content/50 italic cursor-default pointer-events-none">
        Nessuna location trovata
      </span>
    </li>
  <% end %>

<% end %>
