<% if flash.any? %>
  <div class="toast toast-bottom toast-end z-50">
    <% flash.each do |flash_type, message| %>
      <%
        alert_class = case flash_type.to_sym
          when :notice, :success then "alert-success text-success-content"
          when :alert, :error then "alert-error text-error-content"
          else "alert-info text-info-content"
          end
      %>

      <div class="alert shadow-lg <%= alert_class %>" data-controller="toast">
        <span><%= message %></span>

        <button class="btn btn-sm btn-ghost btn-circle" data-action="click->toast#close">
          <%= icon("close", classes: "w-5 h-5") %>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
